<%- include("patials/header") %>

้<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team detail</title>
    <link rel="stylesheet" href="/css/team_detail.css">
</head>
<body>
    <main class="teams-body" role="news"> 
        <div id="teams-section" style="position: relative;">
          <header class="teams__headline headline-sticky">
            <h2 class="headline__name"><%= team.head %></h2>
          </header>
  
          <section class="box">
             <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="party-picture col-md-6">
                      <article class="entry">
                        <figure class="entry__thumb entry__thumb--zoom">
                          <a href="">
                            <img src=<%= '../uploads/team/' + team.image %> class="card-img-top">
                          </a>
                        </figure>
                        <div class="entry__body">
                          <div class="entry__meta2">
                            <span class="entry__meta__count2">
                              <i class="fas fa-gamepad"></i>
                              <span><%= team.game %></span>
                            </span>
                          </div>
                        </div>
                      </article>
                    </div>

                    <div class="party-detail col-md-6">
                      <article class="entry">
                        <div class="entry__body">
                          <div class="entry__meta">
                            <span class="entry__meta__posted">
                              หัวหน้าปาร์ตี้: 
                              <span class="party-detail-info"><%= team.user_post.alias %></span>
                            </span>
                          </div>
                          <!-- <div class="entry__meta">
                            <span class="entry__meta__posted">
                              ชื่อในเกม: 
                              <span class="party-detail-info">ใส่ชื่อในเกมของหัวหน้าปาร์ตี้</span>
                            </span>
                          </div> -->
                          <div class="entry__meta">
                            <span class="entry__meta__posted">
                              สมาชิกที่เข้าร่วม: 
                              <span class="party-detail-info"><%= team.number %> / <%= team.maxplayer %></span>
                            </span>
                          </div>
                          <div class="entry__meta">
                            <div class="entry__meta__posted0">รายชื่อสมาชิก:</div>
                            <div class="party-people">
                              <% team.party.forEach(function(list){ %>
                                <span class="party-detail-info0"><%= list.alias %></span>
                              <% }) %>
                            </div>
                          </div>
                          <div class="entry__meta">
                            <span class="entry__meta__posted">
                              วันที่นัดหมาย: 
                              <span class="party-detail-info"><%= team.appointment_date %></span>
                            </span>
                          </div>
                          <div class="entry__meta">
                            <span class="entry__meta__posted">
                              เวลานัดหมาย: 
                              <span class="party-detail-info"><%= team.appointment_time %></span>
                            </span>
                          </div>
                          <div class="entry__meta">
                            <span class="entry__meta__posted">
                              คำอธิบายเพิ่มเติม: 
                              <span class="party-detail-info"><%= team.content %></span>
                            </span>
                          </div>
                          <div class="entry__meta3">
                            
                            <% var inv = true %>
                            <% for(var n = 0; n < team.number; n++){ %>
                            <% if(currentUser && team.party[n].equals(currentUser._id)) { %>
                            <button class="entry__meta__posted5">
                              <i class="fas fa-check-circle"></i>
                              เข้าร่วมแล้ว
                          </button>
                          <% inv = false %>
                          <% break %>
                          <% }} %>
                          <% if(inv) { %>
                            <form action="/team/<%= team._id %>/addlist" method="POST" style="display: inline;">
                              <button class="entry__meta__posted1">
                                <i class="fas fa-sign-in-alt"></i>
                                เข้าร่วมปาร์ตี้
                            </button>
                            </form>
                            <% } %>
                            <button class="entry__meta__posted4">
                              <i class="fas fa-edit"></i>
                              แก้ไขปาร์ตี้
                            </button>
                              <button class="entry__meta__posted2">
                                <i class="fas fa-sign-out-alt"></i>
                                ออกจากปาร์ตี้
                              </button>
                          <form style="display: inline;" action="/team/<%= team._id %>?_method=DELETE" method="POST">
                            <button class="entry__meta__posted3">
                              <i class="far fa-trash-alt"></i>
                              ลบปาร์ตี้
                            </button>
                          </form>
                          </div>
                        </div>
                      </article>
                    </div>
                  </div>
                </div>
             </div>
         </section>

         <!-- comment -->
         <div class="content__comment order-2 order-lg-3">
          <section class="party-comment-box box">
              <header class="party-comment-header box__header">
                  <h3>
                      <i class="fas fa-comments fa-sm text-muted mr-1"></i>
                      ช่องสนทนา
                  </h3>
              </header>
               <div class="container">
                <div class="be-comment-block">
                  <% team.comments.forEach(function(comment){ %>
                  <div class="be-comment">
                    <div class="be-img-comment">	
                      <a href="#">
                        <img src=<%= '../uploads/user/' + comment.user_post.image %> class="be-ava-comment">
                      </a>
                    </div>
                    <div class="be-comment-content">
                        <span class="be-comment-name">
                          <a href="#"><%= comment.user_post.alias %></a>
                        </span>
                        <span class="be-comment-time">
                          <i class="fa fa-clock-o"></i>
                          <%= comment.date %>
                          <% if(currentUser && currentUser._id.equals(comment.user_post.id)){ %>
                          <div id="member-box d-inline" class="topbar__member-comment">
                            <div class="dropdown">
                              <button class="btn dropdown-login" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-h"></i>
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <button class="dropdown-item" href="#">
                                  <i class="fas fa-edit"></i>
                                  แก้ไขข้อความ
                                </button>
                                <form action="/team/<%= team._id %>/comment/<%= comment._id %>?_method=DELETE" method="POST" style="display: inline;">
                                <button class="dropdown-item">
                                  <i class="far fa-trash-alt"></i>
                                  ลบข้อความ
                                </button>
                                </form>
                              </div>
                            </div>
                          </div>
                          <% } %>
                        </span>
                        <p class="be-comment-text">
                          <%= comment.content %>
                        </p>
                    </div>
                  </div>
                  <% }) %>
                  <% if(currentUser){ %>
                  <form class="form-block" action="/team/<%= team._id %>/comment/create" method="POST">
                    <div class="row">
                      <div class="col-md-12">									
                        <div class="form-group">
                          <textarea class="form-input" required placeholder="เริ่มแชทกับพวกเขาเลย!" name="comment[content]"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="submit-comment">
                      <button type="submit" class="submit-comment-btn">ส่ง</button>
                  </div> 
                  </div>
                  </form>
                </div>
              <% } %>
          </section>
      </div>

        </div>
    </main>
</body>
</html>

<%- include("patials/footer") %>

