<%- include("patials/header") %>

้<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teams</title>
    <link rel="stylesheet" href="/css/team.css">

    <script src="./js/load_more.js"></script>
</head>
<body>
    <main class="teams-body" role="news"> 
        <div id="teams-section" style="position: relative;">
          <header class="teams__headline headline-sticky">
            <h2 class="headline__name">หาปาร์ตี้เล่นเกม</h2>
            <div class="dropdown">
              <button class="categoly-btn-review" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                หาปาร์ตี้ตามประเภทเกม
                <i class="fas fa-users"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-style" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/team">จากเกมทุกประเภท</a>
                <a class="dropdown-item" href="/team/category/Survival">Survival</a>
                <a class="dropdown-item" href="/team/category/RPG">Role-Player Game (RPG)</a>
                <a class="dropdown-item" href="/team/category/Battle_Royal">Battle Royale</a>
                <a class="dropdown-item" href="/team/category/FPS">First Person Shooter (FPS)</a>
                <a class="dropdown-item" href="/team/category/MOBA">Multiplayer Online Battle Arena (MOBA)</a>
                <a class="dropdown-item" href="/team/category/Fighting">Fighting</a>
                <a class="dropdown-item" href="/team/category/Sports">Sports</a>
                <a class="dropdown-item" href="/team/category/Racing">Racing</a>
              </div>
            </div>
            <% if(currentUser){ %>
            <button class="my_team-icon" onclick="window.location.href='/team/my_team';">
                <i class="fas fa-users"></i>
                <span>ปาร์ตี้ของฉัน</span> 
            </button>
            <% } %>
            <button class="create_team-icon" onclick="window.location.href='/team/create';">
                <i class="fas fa-plus"></i>
                <span>สร้างปาร์ตี้</span> 
            </button>
          </header>
  
          <section class="box">
              <div class="row" style="display:flex; flex-wrap:wrap;">
                      <% Team.forEach(function(team){ %>
                      <div class="col-6 col-lg-4 col-xl-3">
                      <article class="entry" style="display: none;">
                        <figure class="entry__thumb entry__thumb--zoom">
                          <a href="/team/<%= team._id %>">
                            <img style="width:  200px; height: 100px; object-fit: cover;" src=<%= '/uploads/team/' + team.image %> class="card-img-top">
                          </a>
                        </figure>
                        <div class="entry__body">
                          <h4 class="entry__title">
                            <a href="/team/<%= team._id %>">
                              <%- descriptionText(team.head,50) %>
                            </a>
                          </h4>
                          <div class="entry__people">
                            <% if(team.number >= 1) { %>
                              <i class="fas fa-user"></i>
                            <% } %>
                            <% if(team.number >= 2) { %>
                              <i class="fas fa-user"></i>
                            <% } %>
                            <% if(team.number >= 3) { %>
                              <i class="fas fa-user"></i>
                            <% } %>
                            <% if(team.number >= 4) { %>
                              <i class="fas fa-user"></i>
                            <% } %>
                            <% if(team.number >= 5) { %>
                              <i class="fas fa-user"></i>
                            <% } %>
                            <% if(team.number >= 6) { %>
                              <i class="fas fa-user"></i>
                            <% } %>
                            <% if(team.number >= 7) { %>
                              <i class="fas fa-user"></i>
                            <% } %>
                            <% if(team.number >= 8) { %>
                              <i class="fas fa-user"></i>
                            <% } %>
                          </div>
                          <div class="entry__meta">
                            <span class="entry__meta__count">
                              ปาร์ตี้: <span><%= team.number %>/<%= team.maxplayer %></span>
                            </span>
                          </div>
                          <div class="entry__meta">
                            <span class="entry__meta__posted">
                              <i class="fas fa-crown"></i>
                              <span><%= team.user_post.alias %></span>
                            </span>
                          </div>
                          <div class="entry__meta">
                            <span class="entry__meta__count">
                              <i class="fas fa-calendar-week"></i>
                              <%= moment(team.appointment_date).format("DD/MM/YYYY") %>
                            </span>
                            <span class="entry__meta__posted">
                              <i class="far fa-clock"></i>
                              <%= team.appointment_time %>
                            </span>
                          </div>
                          <div class="entry__meta2">
                            <span class="entry__meta__count2">
                              <i class="fas fa-gamepad"></i>
                              <span><%= team.game %></span>
                            </span>
                          </div>
                          <div class="entry__meta3">
                            <% var inv = true %>
                            <% for(var n = 0; n < team.number; n++){ %>
                            <% if(currentUser && team.party[n].equals(currentUser._id)) { %>
                            <button class="entry__meta__posted4">
                              <i class="fas fa-check-circle"></i>
                              เข้าร่วมแล้ว
                            </button>
                            <% inv = false %>
                            <% break %>
                            <% }} %>
                            <% if(inv) { %>
                              <form action="/team/<%= team._id %>/addlist" method="POST" style="display: inline;">
                              <button class="entry__meta__posted2">
                                <i class="fas fa-sign-in-alt"></i>
                                เข้าร่วมปาร์ตี้
                              </button>
                              </form>
                            <% } %>
                            <a href="/team/<%= team._id %>">
                              <button class="entry__meta__posted3">
                                <i class="fas fa-info-circle"></i>
                                รายละเอียด
                              </button>
                            </a>
                          </div>
                        </div>
                      </article> 
                    </div>
                    <% }) %>
                  </div>
                  <header class="add-view">
                    <button id="loadMore" class="scrollto-add">
                      โหลดเพิ่ม
                      <i class="fas fa-plus"></i>
                    </button>
                </header> 
                <p class="totop" style="position: fixed;
         bottom: 10px;
         right: 20px;"> 
          <a href="#top" style="display: none;">Back to top</a> 
        </p> 
          </section>
      </div>
    </main>
</body>
</html>

<%- include("patials/footer") %>

