<%- include("patials/header") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create-news</title>
    <link rel="stylesheet" href="/css/c_news.css">

    <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>

    <style>
        body {
          background-image: url('/image/cyberpunk_2077.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed; 
          background-size: 100% 100%;
        }
      </style>
</head>
<body>
    <div class="create-news" href="/">
        <a href="/" class="create-news_btn_close">
            <div class="create-news-icon-close"></div>
        </a>
        <div class="create-news_header">
            <h3 style="font-family: 'Kanit', sans-serif; color: gray;">แก้ไขรีวิว</h3>
        </div>
        <form action = '/review/<%= Review._id %>?_method=PUT' method = 'POST' class="form-hor" enctype="multipart/form-data">
            <div>
                <label for="text" class="label-form-title">ชื่อเกม</label>
                <div class="form-inside">
                    <input type="text" class="form-item" id="headline" name="game" placeholder="ใส่ชื่อเกมที่จะรีวิว" value="<%= Review.game %>" required>
                </div>
            </div>
            <div>
                <label for="text" class="label-form-title">เนื้อหารีวิว</label>
                <div class="form-inside">
                    <textarea rows="20" cols="80" class="form-item" id="content" name="content" required><%= Review.content %></textarea>    
                </div>
            </div>
            <div>
                <label for="ImageUpload" class="label-form-title">แนบรูปภาพ</label>
                <div class="form-inside">
                    <input type="file" class="form-item" id="picture" name="image" accept="image/*">
                </div>
            </div>
            <div class="submit-create-news">
                <input type="submit" class="submit-create-news-btn" value="บันทึก">
            </div>
        </form>
    </div>

    <script type="text/javascript">
        CKEDITOR.replace( 'content' );
    </script>
</body>
</html>

<%- include("patials/footer") %>