<%- include("patials/header") %>

้<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>review</title>
    <link rel="stylesheet" href="/css/all_news.css">

    <script src="/js/load_more.js"></script>
</head>
<body>
  <section class="highlight">
    <header class="hero__top d-none d-lg-block">
      <div class="hero__header2">
        <h1>รีวิวเกม <span><% if(category){ %>
          <%= category %>
          <% } %>
          ทั้งหมด</span></h1>
      </div>
      <nav class="breadcrumb-box" aria-label="breadcrumb">
        <ol class="breadcrumbs bg-dark">
            <li class="breadcrumb-item breadcrumb-section">
                <a href="/"><i class="fas fa-home"></i></a>
            </li>
            <li class="breadcrumb-item breadcrumb-section active">
                <a href="/review">รีวิวเกม</a>
            </li>
            <li class="breadcrumb-item breadcrumb-section active">
              <a href="#"><%= category %></a>
          </li>
        </ol>
    </nav>
    </header>
  
    <div id="main-highlight" class="hightlight-box">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="#">
              <img src="/image/slide1.JPG" class="d-block w-100" >
              <div class="carousel-caption d-sm-block">
                <h4>รีวิว: ใส่ชื่อเกม</h4>
                <p>ถ้าจ่ายเงินให้ผมเดี๋ยวผมใส่ให้ครับ</p>
              </div>
            </a>
          </div>
          <div class="carousel-item">
            <a href="#">
              <img src="/image/slide2.JPG" class="d-block w-100" >
              <div class="carousel-caption d-sm-block">
                <h4>รีวิว: ใส่ชื่อเกม</h4>
                <p>ถ้าจ่ายเงินให้ผมเดี๋ยวผมใส่ให้ครับ</p>
              </div>
            </a>
          </div>
          <div class="carousel-item">
            <a href="#">
              <img src="/image/slide3.JPG" class="d-block w-100" >
              <div class="carousel-caption d-sm-block">
                <h4>รีวิว: ใส่ชื่อเกม</h4>
                <p>ถ้าจ่ายเงินให้ผมเดี๋ยวผมใส่ให้ครับ</p>
              </div>
            </a>
          </div>
          <div class="carousel-item">
            <a href="#">
              <img src="/image/slide4.JPG" class="d-block w-100" >
              <div class="carousel-caption d-sm-block">
                <h4>
                  <h4>รีวิว: ใส่ชื่อเกม</h4>
                  <p>ถ้าจ่ายเงินให้ผมเดี๋ยวผมใส่ให้ครับ</p>
              </div>
            </a>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </section> 

    <main class="news-body" role="news"> 
        <div id="news-section" style="position: relative;">
          <header class="headline headline-sticky">
            <div class="dropdown">
              <button class="categoly-btn-review" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                เลือกดูรีวิวตามประเภทเกม
                <i class="fas fa-star"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-style" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/review">จากเกมทุกประเภท</a>
                <a class="dropdown-item" href="/review/category/Survival">Survival</a>
                <a class="dropdown-item" href="/review/category/RPG">Role-Player Game (RPG)</a>
                <a class="dropdown-item" href="/review/category/Battle_Royal">Battle Royale</a>
                <a class="dropdown-item" href="/review/category/FPS">First Person Shooter (FPS)</a>
                <a class="dropdown-item" href="/review/category/MOBA">Multiplayer Online Battle Arena (MOBA)</a>
                <a class="dropdown-item" href="/review/category/Fighting">Fighting</a>
                <a class="dropdown-item" href="/review/category/Sports">Sports</a>
                <a class="dropdown-item" href="/review/category/Racing">Racing</a>
              </div>
            </div>
            <% if(currentUser && currentUser.class === "King"){ %>
            <button class="create_team-icon-review" onclick="window.location.href='/review/create';">
                <i class="fas fa-pen"></i>
              <span>เขียนรีวิว</span> 
          </button>
          <% } %>
          </header>

          <section class="box">
                  <div class="row" style="display:flex; flex-wrap:wrap;">
                    <% Review.forEach(function(review){ %>
                    <div class="col-6 col-lg-4 col-xl-3">
                      <article class="entry" style="display : none">
                        <figure class="entry__thumb entry__thumb--zoom">
                          <a href="/review/<%= review._id %>">
                            <img style="width:  200px; height: 100px; object-fit: cover;" src=<%= '/uploads/review/' + review.image %> class="card-img-top">
                          </a>
                        </figure>
                        <div class="entry__body">
                          <h4 class="entry__title">
                            <a href="/review/<%= review._id %>">
                              รีวิว:  
                              <%= review.game %>
                            </a>
                          </h4>
                          <div class="entry__meta">
                            <span class="entry__meta__count">
                              <i class="fas fa-eye"></i>
                              <%= review.viewers %>
                            </span>
                            <span class="entry__meta__posted">
                              <i class="far fa-clock"></i>
                              <%= moment(review.date).format("HH:mm DD/MM/YYYY") %>
                            </span>
                          </div>
                        </div>
                      </article>
                    </div>
                <% }); %> 
              </div>
              <header class="add-view">
                <button id="loadMore" class="scrollto-add">
                  โหลดเพิ่ม
                  <i class="fas fa-plus"></i>
                </button>
              </header>
              <p class="totop" style="position: fixed;
         bottom: 10px;
         right: 20px;"> 
          <a href="#top" style="display: none;">Back to top</a> 
        </p>
         </section>
        </div>
    </main>
</body>
</html>

<%- include("patials/footer") %>



