<%- include("patials/header") %>

้<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team detail</title>
    <link rel="stylesheet" href="/css/result.css">
    <!-- <link rel="stylesheet" href="/css/team_detail.css"> -->
</head>
<body>
    <main class="teams-body" role="news"> 
        <div id="teams-section" style="position: relative;">
          <header class="teams__headline headline-sticky">
            <div class="row">
              <div class="col-md-9 col-xs-12">
                <h4 class="headline__name">
                  คำที่ค้นหา:
                  <span><%= result %></span>
              </h4>
              <!-- <p class="headline__found">
                  ผลการค้นหาพบ <span>24</span> รายการ
              </p> -->
              </div>
              <div class="col-md-3 col-xs-12">
              </div>
            </div>
          </header>
  
          <section class="box">
             <div class="row">
                        <!-- ข่าวที่เกี่ยวข้อง -->
                        <div class="col-12" id="search-news">
                            <header class="box_header">
                                <h6>
                                    <i class="far fa-newspaper"></i>
                                    ข่าวที่เกี่ยวข้อง
                                </h6>
                            </header>
                            <div class="row">
                              <% News.forEach(function(news){ %>
                                <div class="col-md-3 order-1">
                                    <article class="entry entry--hor-sm-only">
                                        <figure class="entry__thumb entry__thumb--zoom">
                                          <a href="/news/<%= news._id %>">
                                            <img style="width:  200px; height: 100px; object-fit: cover;" src=<%= '../uploads/news/' + news.image %> class="card-img-top">
                                          </a>
                                        </figure>
                                        <div class="entry__body">
                                          <h4 class="entry__title">
                                            <a href="/news/<%= news._id %>">
                                              <%= news.head %>
                                            </a>
                                          </h4>
                                          <div class="entry__meta">
                                            <span class="entry__meta__count">
                                              <i class="fas fa-eye"></i>
                                              <%= news.viewers %>
                                            </span>
                                            <span class="entry__meta__posted">
                                              <i class="far fa-clock"></i>
                                              <%= moment(news.date).format("DD/MM/YYYY") %>
                                            </span>
                                          </div>
                                        </div>
                                      </article>
                                </div>
                            <% }) %>
                                
                            </div>
                            <div class="add-view">
                              <a href="/search/<%= result %>/news">
                                <button class="scrollto-add">
                                  โหลดเพิ่ม
                                  <i class="fas fa-plus"></i>
                                </button>
                              </a>
                            </div>
                        </div>

                        <!-- ชุมชน / กระทู้ ที่เกี่ยวข้อง -->
                        <div class="col-12" id="search-news">
                          <header class="box_header">
                              <h6>
                                <i class="fas fa-users"></i>
                                  ชุมชน/กระทู้ที่เกี่ยวข้อง
                              </h6>
                          </header>
                          <div class="row">
                            <% Commu.forEach(function(commu){ %>
                              <div class="col-md-3 order-1">
                                  <article class="entry entry--hor-sm-only">
                                      <figure class="entry__thumb entry__thumb--zoom">
                                        <a href="/commu/<%= commu._id %>">
                                          <img style="width:  200px; height: 100px; object-fit: cover;" src=<%= '../uploads/commu/' + commu.image %> class="card-img-top">
                                        </a>
                                      </figure>
                                      <div class="entry__body">
                                        <h4 class="entry__title">
                                          <a href="/commu/<%= commu._id %>">
                                            <%= commu.head %>
                                          </a>
                                        </h4>
                                        <div class="entry__meta">
                                          <span class="entry__meta__count">
                                            <i class="fas fa-eye"></i>
                                            <%= commu.viewers %>
                                          </span>
                                          <span class="entry__meta__posted">
                                            <i class="far fa-clock"></i>
                                            <%= moment(commu.date).format("DD/MM/YYYY") %>
                                          </span>
                                        </div>
                                      </div>
                                    </article>
                              </div>
                          <% }) %>
                          </div>
                          <div class="add-view">
                              <button class="scrollto-add" onclick="window.location.href='/search/<%= result %>/commu';">
                                โหลดเพิ่ม
                                <i class="fas fa-plus"></i>
                              </button>
                          </div>
                      </div>


                        <!-- ปาร์ตี้ที่เกี่ยวข้อง -->
                        <div class="col-12" id="search-news">
                          <header class="box_header">
                              <h6>
                                <i class="fas fa-users"></i>
                                  ปาร์ตี้ที่เกี่ยวข้อง
                              </h6>
                          </header>
                          <div class="row">
                            <% Team.forEach(function(team){ %>
                              <div class="col-6 col-md-3">
                              <article class="entry">
                                <figure class="entry__thumb entry__thumb--zoom">
                                  <a href="/team/<%= team._id %>">
                                    <img style="width:  200px; height: 100px; object-fit: cover;" src=<%= '/uploads/team/' + team.image %> class="card-img-top">
                                  </a>
                                </figure>
                                <div class="entry__body">
                                  <h4 class="entry__title">
                                    <a href="/team/<%= team._id %>">
                                      <%= team.head %>
                                    </a>
                                  </h4>
                                  <div class="entry__people">
                                    <% if(team.number >= 1) { %>
                                      <i class="fas fa-user"></i>
                                    <% } %>
                                    <% if(team.number >= 2) { %>
                                      <i class="fas fa-user"></i>
                                    <% } %>
                                    <% if(team.number >= 3) { %>
                                      <i class="fas fa-user"></i>
                                    <% } %>
                                    <% if(team.number >= 4) { %>
                                      <i class="fas fa-user"></i>
                                    <% } %>
                                    <% if(team.number >= 5) { %>
                                      <i class="fas fa-user"></i>
                                    <% } %>
                                    <% if(team.number >= 6) { %>
                                      <i class="fas fa-user"></i>
                                    <% } %>
                                    <% if(team.number >= 7) { %>
                                      <i class="fas fa-user"></i>
                                    <% } %>
                                    <% if(team.number >= 8) { %>
                                      <i class="fas fa-user"></i>
                                    <% } %>
                                  </div>
                                  <div class="entry__meta">
                                    <span class="entry__meta__count">
                                      ปาร์ตี้: <span><%= team.number %>/<%= team.maxplayer %></span>
                                    </span>
                                  </div>
                                  <div class="entry__meta">
                                    <span class="entry__meta__posted">
                                      <i class="fas fa-crown"></i>
                                      <span><%= team.user_post.alias %></span>
                                    </span>
                                  </div>
                                  <div class="entry__meta">
                                    <span class="entry__meta__count">
                                      <i class="fas fa-calendar-week"></i>
                                      <%= moment(team.appointment_date).format("DD/MM/YYYY") %>
                                    </span>
                                    <span class="entry__meta__posted">
                                      <i class="far fa-clock"></i>
                                      <%= team.appointment_time %>
                                    </span>
                                  </div>
                                  <div class="entry__meta2">
                                    <span class="entry__meta__count2">
                                      <i class="fas fa-gamepad"></i>
                                      <span><%= team.game %></span>
                                    </span>
                                  </div>
                                  <div class="entry__meta3">
                                    <% var inv = true %>
                                    <% for(var n = 0; n < team.number; n++){ %>
                                    <% if(currentUser && team.party[n].equals(currentUser._id)) { %>
                                    <button class="entry__meta__posted4">
                                      <i class="fas fa-check-circle"></i>
                                      เข้าร่วมแล้ว
                                    </button>
                                    <% inv = false %>
                                    <% break %>
                                    <% }} %>
                                    <% if(inv) { %>
                                      <form action="/team/<%= team._id %>/addlist" method="POST" style="display: inline;">
                                      <button class="entry__meta__posted2">
                                        <i class="fas fa-sign-in-alt"></i>
                                        เข้าร่วมปาร์ตี้
                                      </button>
                                      </form>
                                    <% } %>
                                    <a href="/team/<%= team._id %>">
                                      <button class="entry__meta__posted3">
                                        <i class="fas fa-info-circle"></i>
                                        รายละเอียด
                                      </button>
                                    </a>
                                  </div>
                                </div>
                              </article> 
                            </div>
                            <% }) %>
                          </div>
                          <div class="add-view">
                            <button class="scrollto-add" onclick="window.location.href='/search/<%= result %>/team';">
                              โหลดเพิ่ม
                              <i class="fas fa-plus"></i>
                            </button>
                          </div>
                      </div>
                      
                      <!-- รีวิวเกม -->
                      <div class="col-12" id="search-news">
                        <header class="box_header">
                            <h6>
                              <i class="fas fa-star"></i>
                                รีวิวเกม
                            </h6>
                        </header>
                        <div class="row">
                          <% Review.forEach(function(review){ %>
                            <div class="col-6 col-md-3 order-1">
                                <article class="entry entry--hor-sm-only">
                                    <figure class="entry__thumb entry__thumb--zoom">
                                      <a href="/review/<%= review._id %>">
                                        <img style="width:  200px; height: 100px; object-fit: cover;" src=<%= '../uploads/review/' + review.image %> class="card-img-top">
                                      </a>
                                    </figure>
                                    <div class="entry__body">
                                      <h4 class="entry__title">
                                        <a href="/review/<%= review._id %>">
                                          <%= review.game %>
                                        </a>
                                      </h4>
                                      <div class="entry__meta">
                                        <span class="entry__meta__count">
                                          <i class="fas fa-eye"></i>
                                          <%= review.viewers %>
                                        </span>
                                        <span class="entry__meta__posted">
                                          <i class="far fa-clock"></i>
                                          <%= moment(review.date).format("DD/MM/YYYY") %>
                                        </span>
                                      </div>
                                    </div>
                                  </article>
                            </div>
                        <% }) %>
                        </div>
                    </div>
                   </div>
                  </div>
                </div>
              </section>
            </div>
        </main>
  </body>
</html>

<%- include("patials/footer") %>


