 <%- include("patials/header") %>

<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>

  <link rel="stylesheet" href="/css/home.css">

  <script src="/js/home.js" defer></script>

  <!-- <script type="text/javascript" src="/js/home.js"></script> -->
</head>

<body>

  <main class="main-body" role="main ">

      <!-- ข่าว highlight -->
      <section class="highlight">
        <div id="main-highlight" class="hightlight-box">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <a href="#">
                  <img src="/image/slide1.JPG" class="d-block w-100" >
                  <div class="carousel-caption">
                    <h4>ใส่พาดหัวข่าว</h4>
                    <p>ใส่ description สั้นๆของข่าว</p>
                  </div>
                </a>
              </div>
              <div class="carousel-item">
                <a href="#">
                  <img src="/image/slide2.JPG" class="d-block w-100" >
                  <div class="carousel-caption">
                    <h4>ใส่พาดหัวข่าว</h4>
                    <p>ใส่ description สั้นๆของข่าว</p>
                  </div>
                </a>
              </div>
              <div class="carousel-item">
                <a href="#">
                  <img src="/image/slide3.JPG" class="d-block w-100" >
                  <div class="carousel-caption">
                    <h4>ใส่พาดหัวข่าว</h4>
                    <p>ใส่ description สั้นๆของข่าว</p>
                  </div>
                </a>
              </div>
              <div class="carousel-item">
                <a href="#">
                  <img src="/image/slide4.JPG" class="d-block w-100" >
                  <div class="carousel-caption">
                    <h4>ใส่พาดหัวข่าว</h4>
                    <p>ใส่ description สั้นๆของข่าว</p>
                  </div>
                </a>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </section>    

      <!-- ข่าวล่าสุดจากเกมทุกประเภท -->
      <div id="news-section" style="position: relative;">
        <header class="headline headline-sticky">
          <h2 class="headline__name">ข่าวล่าสุด จากเกมทุกประเภท</h2>
          <hr>
        </header>

        
        <section class="box">
            <div class="row">
              <!-- ข่าวเกม survival -->
              <div class="col-md-6">
                <header class="box_header">
                  <h4>
                    <a href="/news/category/Survival">Survival</a>
                  </h4>
                  <a href="/news/category/Survival" class="btn-sm scrollto" role="button">
                    เลื่อนดูข่าว
                    <i class="fas fa-angle-double-down ml-1"></i>
                  </a>
                </header>
                <div class="row">
                  <% Survival.forEach(function(survival){ %>
                    <div class="col-6">
                      <article class="entry">
                        <figure class="entry__thumb entry__thumb--zoom">
                          <a href="/news/<%= survival._id %>">
                            <img style="width:  200px; height: 100px; object-fit: cover;" src=<%= '../uploads/news/' + survival.image %> class="card-img-top">
                          </a>
                        </figure>
                        <div class="entry__body">
                          <h4 class="entry__title">
                            <a href="/news/<%= survival._id %>">
                              <%= survival.head %>
                            </a>
                          </h4>
                          <div class="entry__meta">
                            <span class="entry__meta__count">
                              <i class="fas fa-eye"></i>
                              <%= survival.viewers %>
                            </span>
                            <span class="entry__meta__posted">
                              <i class="far fa-clock"></i>
                              <%= moment(survival.date, moment.ISO_8601).format("DD/MM/YYYY") %>
                            </span>
                          </div>
                        </div>
                      </article>
                    </div>
                    <% }) %>
          
                </div>
              </div>
              
              <!-- ข่าวเกม RPG -->
              <div class="col-md-6">
                <header class="box_header">
                  <h4>
                    <a href="/news/category/RPG">Role-Player Game (RPG)</a>
                  </h4>
                  <a href="/news/category/RPG" class="btn-sm scrollto" role="button">
                    เลื่อนดูข่าว
                    <i class="fas fa-angle-double-down ml-1"></i>
                  </a>
                </header>
                <div class="row">
                  <% RPG.forEach(function(rpg){ %>
                    <div class="col-6">
                      <article class="entry">
                        <figure class="entry__thumb entry__thumb--zoom">
                          <a href="/news/<%= rpg._id %>">
                            <img style="width:  200px; height: 100px; object-fit: cover;" src=<%= '../uploads/news/' + rpg.image %> class="card-img-top">
                          </a>
                        </figure>
                        <div class="entry__body">
                          <h4 class="entry__title">
                            <a href="/news/<%= rpg._id %>">
                              <%= rpg.head %>
                            </a>
                          </h4>
                          <div class="entry__meta">
                            <span class="entry__meta__count">
                              <i class="fas fa-eye"></i>
                              <%= rpg.viewers %>
                            </span>
                            <span class="entry__meta__posted">
                              <i class="far fa-clock"></i>
                              <%= moment(rpg.date, moment.ISO_8601).format("DD/MM/YYYY") %>
                            </span>
                          </div>
                        </div>
                      </article>
                    </div>
                    <% }) %>
                </div>
              </div>
    
              <!-- ข่าวเกม  BR -->
              <div class="col-md-6">
                <header class="box_header">
                  <h4>
                    <a href="/news/category/Battle_Royal">Battle Royale</a>
                  </h4>
                  <a href="/news/category/Battle_Royal" class="btn-sm scrollto" role="button">
                    เลื่อนดูข่าว
                    <i class="fas fa-angle-double-down ml-1"></i>
                  </a>
                </header>
                <div class="row">
                  <% Battle_Royal.forEach(function(battle_royal){ %>
                    <div class="col-6">
                      <article class="entry">
                        <figure class="entry__thumb entry__thumb--zoom">
                          <a href="/news/<%= battle_royal._id %>">
                            <img style="width:  200px; height: 100px; object-fit: cover;" src=<%= '../uploads/news/' + battle_royal.image %> class="card-img-top">
                          </a>
                        </figure>
                        <div class="entry__body">
                          <h4 class="entry__title">
                            <a href="/news/<%= battle_royal._id %>">
                              <%= battle_royal.head %>
                            </a>
                          </h4>
                          <div class="entry__meta">
                            <span class="entry__meta__count">
                              <i class="fas fa-eye"></i>
                              <%= battle_royal.viewers %>
                            </span>
                            <span class="entry__meta__posted">
                              <i class="far fa-clock"></i>
                              <%= moment(battle_royal.date, moment.ISO_8601).format("DD/MM/YYYY") %>
                            </span>
                          </div>
                        </div>
                      </article>
                    </div>
                    <% }) %>
                </div>
              </div>
    
              <!-- ช่าวเกม FPS -->
              <div class="col-md-6">
                <header class="box_header">
                  <h4>
                    <a href="/news/category/FPS">First Person Shooter (FPS)</a>
                  </h4>
                  <a href="/news/category/FPS" class="btn-sm scrollto" role="button">
                    เลื่อนดูข่าว
                    <i class="fas fa-angle-double-down ml-1"></i>
                  </a>
                </header>
                <div class="row">
                  <% FPS.forEach(function(fps){ %>
                  <div class="col-6">
                    <article class="entry">
                      <figure class="entry__thumb entry__thumb--zoom">
                        <a href="/news/<%= fps._id %>">
                          <img style="width:  200px; height: 100px; object-fit: cover;" src=<%= '../uploads/news/' + fps.image %> class="card-img-top">
                        </a>
                      </figure>
                      <div class="entry__body">
                        <h4 class="entry__title">
                          <a href="/news/<%= fps._id %>">
                            <%= fps.head %>
                          </a>
                        </h4>
                        <div class="entry__meta">
                          <span class="entry__meta__count">
                            <i class="fas fa-eye"></i>
                            <%= fps.viewers %>
                          </span>
                          <span class="entry__meta__posted">
                            <i class="far fa-clock"></i>
                            <%= moment(fps.date, moment.ISO_8601).format("DD/MM/YYYY") %>
                          </span>
                        </div>
                      </div>
                    </article>
                  </div>
                  <% }) %>
                </div>
              </div>
    
              <!-- ข่าวเกม MOBA -->
              <div class="col-md-6">
                <header class="box_header">
                  <h4>
                    <a href="/news/category/MOBA">Multiplayer Online Battle Arena</a>
                  </h4>
                  <a href="/news/category/MOBA" class="btn-sm scrollto" role="button">
                    เลื่อนดูข่าว
                    <i class="fas fa-angle-double-down ml-1"></i>
                  </a>
                </header>
                <div class="row">
                  <% MOBA.forEach(function(moba){ %>
                    <div class="col-6">
                      <article class="entry">
                        <figure class="entry__thumb entry__thumb--zoom">
                          <a href="/news/<%= moba._id %>">
                            <img style="width:  200px; height: 100px; object-fit: cover;" src=<%= '../uploads/news/' + moba.image %> class="card-img-top">
                          </a>
                        </figure>
                        <div class="entry__body">
                          <h4 class="entry__title">
                            <a href="/news/<%= moba._id %>">
                              <%= moba.head %>
                            </a>
                          </h4>
                          <div class="entry__meta">
                            <span class="entry__meta__count">
                              <i class="fas fa-eye"></i>
                              <%= moba.viewers %>
                            </span>
                            <span class="entry__meta__posted">
                              <i class="far fa-clock"></i>
                              <%= moment(moba.date, moment.ISO_8601).format("DD/MM/YYYY") %>
                            </span>
                          </div>
                        </div>
                      </article>
                    </div>
                    <% }) %>
                </div>
              </div>
    
              <!-- ข่าวเกม Fighting -->
              <div class="col-md-6">
                <header class="box_header">
                  <h4>
                    <a href="/news/category/Fighting">Fighting</a>
                  </h4>
                  <a href="/news/category/Fighting" class="btn-sm scrollto" role="button">
                    เลื่อนดูข่าว
                    <i class="fas fa-angle-double-down ml-1"></i>
                  </a>
                </header>
                <div class="row">
                  <% Fighting.forEach(function(fighting){ %>
                    <div class="col-6">
                      <article class="entry">
                        <figure class="entry__thumb entry__thumb--zoom">
                          <a href="/news/<%= fighting._id %>">
                            <img style="width:  200px; height: 100px; object-fit: cover;" src=<%= '../uploads/news/' + fighting.image %> class="card-img-top">
                          </a>
                        </figure>
                        <div class="entry__body">
                          <h4 class="entry__title">
                            <a href="/news/<%= fighting._id %>">
                              <%= fighting.head %>
                            </a>
                          </h4>
                          <div class="entry__meta">
                            <span class="entry__meta__count">
                              <i class="fas fa-eye"></i>
                              <%= fighting.viewers %>
                            </span>
                            <span class="entry__meta__posted">
                              <i class="far fa-clock"></i>
                              <%= moment(fighting.date, moment.ISO_8601).format("DD/MM/YYYY") %>
                            </span>
                          </div>
                        </div>
                      </article>
                    </div>
                    <% }) %>
                </div>
              </div>
    
              <!-- ข่าวเกม sport -->
              <div class="col-md-6">
                <header class="box_header">
                  <h4>
                    <a href="#">Sports</a>
                  </h4>
                  <a href="#" class="btn-sm scrollto" role="button">
                    เลื่อนดูข่าว
                    <i class="fas fa-angle-double-down ml-1"></i>
                  </a>
                </header>
                <div class="row">
                  <% Sports.forEach(function(sports){ %>
                    <div class="col-6">
                      <article class="entry">
                        <figure class="entry__thumb entry__thumb--zoom">
                          <a href="/news/<%= sports._id %>">
                            <img style="width:  200px; height: 100px; object-fit: cover;" src=<%= '../uploads/news/' + sports.image %> class="card-img-top">
                          </a>
                        </figure>
                        <div class="entry__body">
                          <h4 class="entry__title">
                            <a href="/news/<%= sports._id %>">
                              <%= sports.head %>
                            </a>
                          </h4>
                          <div class="entry__meta">
                            <span class="entry__meta__count">
                              <i class="fas fa-eye"></i>
                              <%= sports.viewers %>
                            </span>
                            <span class="entry__meta__posted">
                              <i class="far fa-clock"></i>
                              <%= moment(sports.date, moment.ISO_8601).format("DD/MM/YYYY") %>
                            </span>
                          </div>
                        </div>
                      </article>
                    </div>
                    <% }) %>
                </div>
              </div>
    
              <!-- ข่าวเกม racing -->
              <div class="col-md-6">
                <header class="box_header">
                  <h4>
                    <a href="#">Racing</a>
                  </h4>
                  <a href="#" class="btn-sm scrollto" role="button">
                    เลื่อนดูข่าว
                    <i class="fas fa-angle-double-down ml-1"></i>
                  </a>
                </header>
                <div class="row">
                    <% Racing.forEach(function(racing){ %>
                      <div class="col-6">
                        <article class="entry">
                          <figure class="entry__thumb entry__thumb--zoom">
                            <a href="/news/<%= racing._id %>">
                              <img style="width:  200px; height: 100px; object-fit: cover;" src=<%= '../uploads/news/' + racing.image %> class="card-img-top">
                            </a>
                          </figure>
                          <div class="entry__body">
                            <h4 class="entry__title">
                              <a href="/news/<%= racing._id %>">
                                <%= racing.head %>
                              </a>
                            </h4>
                            <div class="entry__meta">
                              <span class="entry__meta__count">
                                <i class="fas fa-eye"></i>
                                <%= racing.viewers %>
                              </span>
                              <span class="entry__meta__posted">
                                <i class="far fa-clock"></i>
                                <%= moment(racing.date, moment.ISO_8601).format("DD/MM/YYYY") %>
                              </span>
                            </div>
                          </div>
                        </article>
                      </div>
                      <% }) %>
              </div>
          </div>
        </section>
      </div>
      
            
      <!-- รีวิว -->
      <div id="review-section">
        <header class="headline headline-sticky">
          <h2 class="headline__name">รีวิวเกม</h2>
          <hr>
        </header>

        <section class="box">
          <header class="box_header">
            <h4>
              <a href="/review">
                <img src="https://img.icons8.com/officel/28/000000/pixel-star.png"/>
                รีวิวล่าสุด
              </a>
            </h4>
            <a href="/review" class="scrollto sport-news">
              ดูรีวิวทั้งหมด
              <i class="fas fa-angle-right ml-1"></i>
            </a>
          </header>
              <div class="row">
                <% Review.forEach(function(review){ %>
                  <div class="col-6 col-lg-3">
                    <article class="entry">
                      <figure class="entry__thumb entry__thumb--zoom">
                        <a href="/review/<%= review._id %>">
                          <img style="width:  200px; height: 100px; object-fit: cover;" src=<%= '../uploads/review/' + review.image %> class="card-img-top">
                        </a>
                      </figure>
                      <div class="entry__body">
                        <h4 class="entry__title">
                          <a href="/review/<%= review._id %>">
                            <%= review.head %>
                          </a>
                        </h4>
                        <div class="entry__meta">
                          <span class="entry__meta__count">
                            <i class="fas fa-eye"></i>
                            <%= review.viewers %>
                          </span>
                          <span class="entry__meta__posted">
                            <i class="far fa-clock"></i>
                            <%= moment(review.date, moment.ISO_8601).format("DD/MM/YYYY") %>
                          </span>
                        </div>
                      </div>
                    </article>
                  </div>
                  <% }) %>
              </div>
              <header class="add-view">
                <button href="#" class="scrollto-add sport-news">
                  โหลดเพิ่ม
                  <i class="fas fa-plus"></i>
                </button>
              </header>
            </section>
        </div> 
          
        <!-- กระทู้ -->
        <div id="commu-section">
          <header class="headline headline-sticky">
            <h2 class="headline__name">ชุมชน / กระทู้</h2>
            <hr>
          </header>
      
          <section class="box">
            <header class="box_header">
              <h4>
                <a href="/column">
                  <img src="https://img.icons8.com/dusk/36/000000/speech-bubble-with-dots.png"/>
                  กระทู้ล่าสุด
                </a>
              </h4>
              <a href="/column" class="scrollto rpg-news">
                ดูกระทู้ทั้งหมด
                <i class="fas fa-angle-right ml-1"></i>
              </a>
            </header>
                <div class="row">
                  <% Commu.forEach(function(commu){ %>
                    <div class="col-6 col-lg-3">
                      <article class="entry">
                        <figure class="entry__thumb entry__thumb--zoom">
                          <a href="/column_detail/<%= commu._id %>">
                            <img style="width:  200px; height: 100px; object-fit: cover;" src=<%= '../uploads/commu/' + commu.image %> class="card-img-top">
                          </a>
                        </figure>
                        <div class="entry__body">
                          <h4 class="entry__title">
                            <a href="/column_detail/<%= commu._id %>">
                              <%= commu.head %>
                            </a>
                          </h4>
                          <div class="entry__meta">
                            <span class="entry__meta__count">
                              <i class="fas fa-eye"></i>
                              <%= commu.viewers %>
                            </span>
                            <span class="entry__meta__posted">
                              <i class="far fa-clock"></i>
                              <%= moment(commu.date, moment.ISO_8601).format("DD/MM/YYYY") %>
                            </span>
                          </div>
                        </div>
                      </article>
                    </div>
                    <% }) %>
                </div>
                <header class="add-view">
                  <button href="#" class="scrollto-add rpg-news">
                    โหลดเพิ่ม
                    <i class="fas fa-plus"></i>
                  </button>
                </header>
              </section>
          </div> 

          <!-- ปาร์ตี้ -->
          <div id="party-section">
            <header class="headline headline-sticky">
              <h2 class="headline__name">หาปาร์ตี้เล่นเกม</h2>
              <hr>
            </header>
        
            <section class="box">
              <header class="box_header">
                <h4>
                  <a href="/team">
                    <img src="https://img.icons8.com/dusk/36/000000/crowd.png"/>
                    ปาร์ตี้ล่าสุด
                  </a>
                </h4>
                <a href="/team" class="scrollto moba-news">
                  ดูปาร์ตี้ทั้งหมด
                  <i class="fas fa-angle-right ml-1"></i>
                </a>
              </header>
                  <div class="row">
                    <% Team.forEach(function(team){ %>
                      <div class="col-lg-3 col-6">
                      <article class="entry">
                        <figure class="entry__thumb entry__thumb--zoom">
                          <a href="/team_detail/<%= team._id %>">
                            <img style="width:  200px; height: 100px; object-fit: cover;" src=<%= '../uploads/team/' + team.image %> class="card-img-top">
                          </a>
                        </figure>
                        <div class="entry__body">
                          <h4 class="entry__title">
                            <a href="/team_detail/<%= team._id %>">
                              <%= team.head %>
                            </a>
                          </h4>
                          <div class="entry__people">
                            <% if(team.number >= 1) { %>
                              <i class="fas fa-user"></i>
                            <% } %>
                            <% if(team.number >= 2) { %>
                              <i class="fas fa-user"></i>
                            <% } %>
                            <% if(team.number >= 3) { %>
                              <i class="fas fa-user"></i>
                            <% } %>
                            <% if(team.number >= 4) { %>
                              <i class="fas fa-user"></i>
                            <% } %>
                            <% if(team.number >= 5) { %>
                              <i class="fas fa-user"></i>
                            <% } %>
                            <% if(team.number >= 6) { %>
                              <i class="fas fa-user"></i>
                            <% } %>
                            <% if(team.number >= 7) { %>
                              <i class="fas fa-user"></i>
                            <% } %>
                            <% if(team.number >= 8) { %>
                              <i class="fas fa-user"></i>
                            <% } %>
                          </div>
                          <div class="entry__meta">
                            <span class="entry__meta__count">
                              ปาร์ตี้: <span><%= team.number %>/<%= team.maxplayer %></span>
                            </span>
                          </div>
                          <div class="entry__meta">
                            <span class="entry__meta__posted">
                              <i class="fas fa-crown"></i>
                              <span><%= team.user_post.alias %></span>
                            </span>
                          </div>
                          <div class="entry__meta">
                            <span class="entry__meta__count">
                              <i class="fas fa-calendar-week"></i>
                              <%= moment(team.appointment_date, moment.ISO_8601).format("DD/MM/YYYY") %>
                            </span>
                            <span class="entry__meta__posted">
                              <i class="far fa-clock"></i>
                              <%= team.appointment_time %>
                            </span>
                          </div>
                          <div class="entry__meta2">
                            <span class="entry__meta__count2">
                              <i class="fas fa-gamepad"></i>
                              <span><%= team.game %></span>
                            </span>
                          </div>
                          <div class="entry__meta3">
                            <% var inv = true %>
                            <% for(var n = 0; n < team.number; n++){ %>
                            <% if(currentUser && team.party[n].equals(currentUser._id)) { %>
                            <button class="entry__meta__posted4">
                              <i class="fas fa-check-circle"></i>
                              เข้าร่วมแล้ว
                            </button>
                            <% inv = false %>
                            <% break %>
                            <% }} %>
                            <% if(inv) { %>
                              <form action="/team_detail/<%= team._id %>/addlist" method="POST" style="display: inline;">
                              <button class="entry__meta__posted2">
                                <i class="fas fa-sign-in-alt"></i>
                                เข้าร่วมปาร์ตี้
                              </button>
                              </form>
                            <% } %>
                            <a href="/team_detail/<%= team._id %>">
                              <button class="entry__meta__posted3">
                                <i class="fas fa-info-circle"></i>
                                รายละเอียด
                              </button>
                            </a>
                          </div>
                        </div>
                      </article> 
                    </div>
                    <% }) %>
                  </div>
                </section>
            </div>            
         
  </main>
      

</body>
</html>

 <%- include("patials/footer") %>