<%- include("patials/header") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>column</title>
    <link rel="stylesheet" href="/css/column.css">
    <link rel="stylesheet" href="/css/column_game_type.css">
    <script src="/js/load_more.js"></script>
</head>
<body>
    <main class="teams-body" role="news"> 
        <div id="teams-section" style="position: relative;">
          <header class="teams__headline headline-sticky">
            <h2 class="headline__name">ชุมชน / กระทู้</h2>
            <!-- <div class="teams__search">
                <input class="form-control mr-sm-2" type="search" id="search" placeholder="ค้นหากระทู้..." aria-label="Search" maxlength="200">
            </div>
            <!-- <a href="#" class="my_team-icon">
                <i class="fas fa-globe-americas"></i>
                <span>ดูกระทู้ทั้งหมด</span> 
            </a> -->
            <div class="teams__search">
              <input class="form-control mr-sm-2" type="search" id="search" placeholder="ค้นหากระทู้..." aria-label="Search" maxlength="200">
            </div>
            <div class="dropdown">
              <button class="categoly-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                เลือกดูข่าวตามประเภทเกม
                <i class="fas fa-gamepad"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-style" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/commu">จากเกมทุกประเภท</a>
                <a class="dropdown-item" href="/commu/category/Survival">Survival</a>
                <a class="dropdown-item" href="/commu/category/RPG">Role-Player Game (RPG)</a>
                <a class="dropdown-item" href="/commu/category/Battle_Royal">Battle Royale</a>
                <a class="dropdown-item" href="/commu/category/FPS">First Person Shooter (FPS)</a>
                <a class="dropdown-item" href="/commu/category/MOBA">Multiplayer Online Battle Arena (MOBA)</a>
                <a class="dropdown-item" href="/commu/category/Fighting">Fighting</a>
                <a class="dropdown-item" href="/commu/category/Sports">Sports</a>
                <a class="dropdown-item" href="/commu/category/Racing">Racing</a>
              </div>
            </div>
            <button class="my_team-icon2" onclick="window.location.href='/commu/my_column';">
              <i class="fas fa-file-alt"></i>
              <span>กระทู้ของฉัน</span> 
            </button>
            <a href="/commu/create">
            <button type="submit" class="submit-create-party-btn">
                <svg class="bi bi-file-earmark-plus" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h5v-1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h5v2.5A1.5 1.5 0 0 0 10.5 6H13v2h1V6L9 1z"/>
                    <path fill-rule="evenodd" d="M13.5 10a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z"/>
                    <path fill-rule="evenodd" d="M13 12.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
                </svg>
                สร้างกระทู้
            </button>
          </a>
          </header>
          
  
          <section class="box">
            <div class="row" style="display:flex; flex-wrap:wrap;">
              <% Commu.forEach(function(commu){ %>
              <div class="col-6 col-lg-4 col-xl-3">
                <article class="entry" style="display: none;">
                  <figure class="entry__thumb entry__thumb--zoom">
                    <a href="/commu/<%= commu._id %>">
                      <img style="width:  200px; height: 100px; object-fit: cover;" src=<%= '/uploads/commu/' + commu.image %> class="card-img-top">
                    </a>
                  </figure>
                  <div class="entry__body">
                    <h4 class="entry__title">
                      <a href="/commu/<%= commu._id %>">
                        <%= commu.head %>
                      </a>
                    </h4>
                    <div class="entry__meta">
                      <span class="entry__meta__count">
                        <i class="fas fa-eye"></i>
                        <%= commu.viewers %>
                      </span>
                      <span class="entry__meta__posted">
                        <i class="far fa-clock"></i>
                        <%= moment(commu.date).format("HH:mm DD/MM/YYYY") %>
                      </span>
                    </div>
                  </div>
                </article>
              </div>
          <% }); %> 
        </div>

            <header class="add-view">
              <button id="loadMore" class="scrollto-add">
                โหลดเพิ่ม
                <i class="fas fa-plus"></i>
              </button>
          </header>
          <p class="totop" style="position: fixed;
         bottom: 10px;
         right: 20px;"> 
          <a href="#top" style="display: none;">Back to top</a> 
        </p>
       </section>

      </div>
    </main>
</body>
</html>
<%- include("patials/footer") %>
