<%- include("patials/header") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>column game type</title>
    <link rel="stylesheet" href="/css/column_game_type.css">
    <script src="/js/load_more.js"></script>
</head>
<body>
    <main class="teams-body" role="news"> 
        <div id="teams-section" style="position: relative;">
          <header class="teams__headline headline-sticky">
            <h2 class="headline__name">ชุมชน / กระทู้</h2>
            <a href="#" class="my_team-icon" onclick="window.location.href='/commu/category';">
                <span>ดูกระทู้ทั้งหมด</span> 
                <i class="fas fa-globe-americas"></i>
            </a>
            <% if(currentUser){ %>
              <button class="my_team-icon2" onclick="window.location.href='/commu/my_column';">
                <i class="fas fa-file-alt"></i>
                <span>กระทู้ของฉัน</span> 
              </button>
            <% } %>
            <a href="/commu/create">
            <button type="submit" class="submit-create-party-btn">
              <svg class="bi bi-file-earmark-plus" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h5v-1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h5v2.5A1.5 1.5 0 0 0 10.5 6H13v2h1V6L9 1z"/>
                  <path fill-rule="evenodd" d="M13.5 10a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z"/>
                  <path fill-rule="evenodd" d="M13 12.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
              </svg>
              สร้างกระทู้
          </button>
          </a>
          </header>
          
          <section class="box">
            <div class="row">
              <!-- ข่าวเกม survival -->
              <div class="col-md-6">
                <header class="box_header">
                  <h4>
                    <a href="/commu/category/Survival">Survival</a>
                  </h4>
                  <a href="/commu/category/Survival" class="btn-sm scrollto" role="button">
                    เลื่อนดูข่าว
                    <i class="fas fa-angle-double-down ml-1"></i>
                  </a>
                </header>
                <div class="row">
                  <% Survival.forEach(function(survival){ %>
                    <div class="col-6">
                      <article class="entry">
                        <figure class="entry__thumb entry__thumb--zoom">
                          <a href="/commu/<%= survival._id %>">
                            <img style="width:  200px; height: 100px; object-fit: cover;" src=<%= '../uploads/commu/' + survival.image %> class="card-img-top">
                          </a>
                        </figure>
                        <div class="entry__body">
                          <h4 class="entry__title">
                            <a href="/commu/<%= survival._id %>">
                              <%= survival.head %>
                            </a>
                          </h4>
                          <div class="entry__meta">
                            <span class="entry__meta__count">
                              <i class="fas fa-eye"></i>
                              <%= survival.viewers %>
                            </span>
                            <span class="entry__meta__posted">
                              <i class="far fa-clock"></i>
                              <%= moment(survival.date).format("HH:mm DD/MM/YYYY") %>
                            </span>
                          </div>
                        </div>
                      </article>
                    </div>
                    <% }) %>
          
                </div>
              </div>
              
              <!-- ข่าวเกม RPG -->
              <div class="col-md-6">
                <header class="box_header">
                  <h4>
                    <a href="/commu/category/RPG">Role-Player Game (RPG)</a>
                  </h4>
                  <a href="/commu/category/RPG" class="btn-sm scrollto" role="button">
                    เลื่อนดูข่าว
                    <i class="fas fa-angle-double-down ml-1"></i>
                  </a>
                </header>
                <div class="row">
                  <% RPG.forEach(function(rpg){ %>
                    <div class="col-6">
                      <article class="entry">
                        <figure class="entry__thumb entry__thumb--zoom">
                          <a href="/commu/<%= rpg._id %>">
                            <img style="width:  200px; height: 100px; object-fit: cover;" src=<%= '../uploads/commu/' + rpg.image %> class="card-img-top">
                          </a>
                        </figure>
                        <div class="entry__body">
                          <h4 class="entry__title">
                            <a href="/commu/<%= rpg._id %>">
                              <%= rpg.head %>
                            </a>
                          </h4>
                          <div class="entry__meta">
                            <span class="entry__meta__count">
                              <i class="fas fa-eye"></i>
                              <%= rpg.viewers %>
                            </span>
                            <span class="entry__meta__posted">
                              <i class="far fa-clock"></i>
                              <%= moment(rpg.date).format("HH:mm DD/MM/YYYY") %>
                            </span>
                          </div>
                        </div>
                      </article>
                    </div>
                    <% }) %>
                </div>
              </div>
    
              <!-- ข่าวเกม  BR -->
              <div class="col-md-6">
                <header class="box_header">
                  <h4>
                    <a href="/commu/category/Battle_Royal">Battle Royale</a>
                  </h4>
                  <a href="/commu/category/Battle_Royal" class="btn-sm scrollto" role="button">
                    เลื่อนดูข่าว
                    <i class="fas fa-angle-double-down ml-1"></i>
                  </a>
                </header>
                <div class="row">
                  <% Battle_Royal.forEach(function(battle_royal){ %>
                    <div class="col-6">
                      <article class="entry">
                        <figure class="entry__thumb entry__thumb--zoom">
                          <a href="/commu/<%= battle_royal._id %>">
                            <img style="width:  200px; height: 100px; object-fit: cover;" src=<%= '../uploads/commu/' + battle_royal.image %> class="card-img-top">
                          </a>
                        </figure>
                        <div class="entry__body">
                          <h4 class="entry__title">
                            <a href="/commu/<%= battle_royal._id %>">
                              <%= battle_royal.head %>
                            </a>
                          </h4>
                          <div class="entry__meta">
                            <span class="entry__meta__count">
                              <i class="fas fa-eye"></i>
                              <%= battle_royal.viewers %>
                            </span>
                            <span class="entry__meta__posted">
                              <i class="far fa-clock"></i>
                              <%= moment(battle_royal.date).format("HH:mm DD/MM/YYYY") %>
                            </span>
                          </div>
                        </div>
                      </article>
                    </div>
                    <% }) %>
                </div>
              </div>
    
              <!-- ช่าวเกม FPS -->
              <div class="col-md-6">
                <header class="box_header">
                  <h4>
                    <a href="/commu/category/FPS">First Person Shooter (FPS)</a>
                  </h4>
                  <a href="/commu/category/FPS" class="btn-sm scrollto" role="button">
                    เลื่อนดูข่าว
                    <i class="fas fa-angle-double-down ml-1"></i>
                  </a>
                </header>
                <div class="row">
                  <% FPS.forEach(function(fps){ %>
                  <div class="col-6">
                    <article class="entry">
                      <figure class="entry__thumb entry__thumb--zoom">
                        <a href="/commu/<%= fps._id %>">
                          <img style="width:  200px; height: 100px; object-fit: cover;" src=<%= '../uploads/commu/' + fps.image %> class="card-img-top">
                        </a>
                      </figure>
                      <div class="entry__body">
                        <h4 class="entry__title">
                          <a href="/commu/<%= fps._id %>">
                            <%= fps.head %>
                          </a>
                        </h4>
                        <div class="entry__meta">
                          <span class="entry__meta__count">
                            <i class="fas fa-eye"></i>
                            <%= fps.viewers %>
                          </span>
                          <span class="entry__meta__posted">
                            <i class="far fa-clock"></i>
                            <%= moment(fps.date).format("HH:mm DD/MM/YYYY") %>
                          </span>
                        </div>
                      </div>
                    </article>
                  </div>
                  <% }) %>
                </div>
              </div>
    
              <!-- ข่าวเกม MOBA -->
              <div class="col-md-6">
                <header class="box_header">
                  <h4>
                    <a href="/commu/category/MOBA">Multiplayer Online Battle Arena</a>
                  </h4>
                  <a href="/commu/category/MOBA" class="btn-sm scrollto" role="button">
                    เลื่อนดูข่าว
                    <i class="fas fa-angle-double-down ml-1"></i>
                  </a>
                </header>
                <div class="row">
                  <% MOBA.forEach(function(moba){ %>
                    <div class="col-6">
                      <article class="entry">
                        <figure class="entry__thumb entry__thumb--zoom">
                          <a href="/commu/<%= moba._id %>">
                            <img style="width:  200px; height: 100px; object-fit: cover;" src=<%= '../uploads/commu/' + moba.image %> class="card-img-top">
                          </a>
                        </figure>
                        <div class="entry__body">
                          <h4 class="entry__title">
                            <a href="/commu/<%= moba._id %>">
                              <%= moba.head %>
                            </a>
                          </h4>
                          <div class="entry__meta">
                            <span class="entry__meta__count">
                              <i class="fas fa-eye"></i>
                              <%= moba.viewers %>
                            </span>
                            <span class="entry__meta__posted">
                              <i class="far fa-clock"></i>
                              <%= moment(moba.date).format("HH:mm DD/MM/YYYY") %>
                            </span>
                          </div>
                        </div>
                      </article>
                    </div>
                    <% }) %>
                </div>
              </div>
    
              <!-- ข่าวเกม Fighting -->
              <div class="col-md-6">
                <header class="box_header">
                  <h4>
                    <a href="/commu/category/Fighting">Fighting</a>
                  </h4>
                  <a href="/commu/category/Fighting" class="btn-sm scrollto" role="button">
                    เลื่อนดูข่าว
                    <i class="fas fa-angle-double-down ml-1"></i>
                  </a>
                </header>
                <div class="row">
                  <% Fighting.forEach(function(fighting){ %>
                    <div class="col-6">
                      <article class="entry">
                        <figure class="entry__thumb entry__thumb--zoom">
                          <a href="/commu/<%= fighting._id %>">
                            <img style="width:  200px; height: 100px; object-fit: cover;" src=<%= '../uploads/commu/' + fighting.image %> class="card-img-top">
                          </a>
                        </figure>
                        <div class="entry__body">
                          <h4 class="entry__title">
                            <a href="/commu/<%= fighting._id %>">
                              <%= fighting.head %>
                            </a>
                          </h4>
                          <div class="entry__meta">
                            <span class="entry__meta__count">
                              <i class="fas fa-eye"></i>
                              <%= fighting.viewers %>
                            </span>
                            <span class="entry__meta__posted">
                              <i class="far fa-clock"></i>
                              <%= moment(fighting.date).format("HH:mm DD/MM/YYYY") %>
                            </span>
                          </div>
                        </div>
                      </article>
                    </div>
                    <% }) %>
                </div>
              </div>
    
              <!-- ข่าวเกม sport -->
              <div class="col-md-6">
                <header class="box_header">
                  <h4>
                    <a href="#">Sports</a>
                  </h4>
                  <a href="#" class="btn-sm scrollto" role="button">
                    เลื่อนดูข่าว
                    <i class="fas fa-angle-double-down ml-1"></i>
                  </a>
                </header>
                <div class="row">
                  <% Sports.forEach(function(sports){ %>
                    <div class="col-6">
                      <article class="entry">
                        <figure class="entry__thumb entry__thumb--zoom">
                          <a href="/commu/<%= sports._id %>">
                            <img style="width:  200px; height: 100px; object-fit: cover;" src=<%= '../uploads/commu/' + sports.image %> class="card-img-top">
                          </a>
                        </figure>
                        <div class="entry__body">
                          <h4 class="entry__title">
                            <a href="/commu/<%= sports._id %>">
                              <%= sports.head %>
                            </a>
                          </h4>
                          <div class="entry__meta">
                            <span class="entry__meta__count">
                              <i class="fas fa-eye"></i>
                              <%= sports.viewers %>
                            </span>
                            <span class="entry__meta__posted">
                              <i class="far fa-clock"></i>
                              <%= moment(sports.date).format("HH:mm DD/MM/YYYY") %>
                            </span>
                          </div>
                        </div>
                      </article>
                    </div>
                    <% }) %>
                </div>
              </div>
    
              <!-- ข่าวเกม racing -->
              <div class="col-md-6">
                <header class="box_header">
                  <h4>
                    <a href="#">Racing</a>
                  </h4>
                  <a href="#" class="btn-sm scrollto" role="button">
                    เลื่อนดูข่าว
                    <i class="fas fa-angle-double-down ml-1"></i>
                  </a>
                </header>
                <div class="row">
                    <% Racing.forEach(function(racing){ %>
                      <div class="col-6">
                        <article class="entry">
                          <figure class="entry__thumb entry__thumb--zoom">
                            <a href="/commu/<%= racing._id %>">
                              <img style="width:  200px; height: 100px; object-fit: cover;" src=<%= '../uploads/commu/' + racing.image %> class="card-img-top">
                            </a>
                          </figure>
                          <div class="entry__body">
                            <h4 class="entry__title">
                              <a href="/commu/<%= racing._id %>">
                                <%= racing.head %>
                              </a>
                            </h4>
                            <div class="entry__meta">
                              <span class="entry__meta__count">
                                <i class="fas fa-eye"></i>
                                <%= racing.viewers %>
                              </span>
                              <span class="entry__meta__posted">
                                <i class="far fa-clock"></i>
                                <%= moment(racing.date).format("HH:mm DD/MM/YYYY") %>
                              </span>
                            </div>
                          </div>
                        </article>
                      </div>
                      <% }) %>
              </div>
          </div>
        </section>
      </div>

      </div>
    </main>
</body>
</html>


<%- include("patials/footer") %>