<%- include("patials/header") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>news</title>
    <link rel="stylesheet" href="/css/news.css">
</head>
<body>
    <main class="main-body" role="main">
        <!-- ปุ่มแก้ไขและลบข่าว -->
        <header class="teams__headline headline-sticky">
          <% if(currentUser && news.user_post.id.equals(currentUser._id)){ %>
            <a href="/news/<%= news._id %>/edit">
            <button class="entry__meta__posted4">
                <i class="fas fa-edit"></i>
                แก้ไขข่าว
            </button>
            </a>
            <form action="/news/<%= news._id %>?_method=DELETE" method="POST" style="display: inline;">
            <button class="entry__meta__posted3">
                <i class="far fa-trash-alt"></i>
                ลบข่าว
            </button>
          </form>
          <% } %>
        </header>

        <!-- รูปและพาดหัวข่าว -->
        <header class="featured-box">
          <figure class="featured-box__img">
              <img class="img-fluid load lazy-img" src=<%= '../uploads/news/' + news.image %> alt="Responsive image">
          </figure>
          <div class="featured-box__desc">
            <h1><%= news.head %></h1>
            <div class="featured-box__meta">
                <span class="mr-2">
                    <i class="far fa-user-circle"></i>
                    <%= news.user_post.alias %>
                </span>
                <span class="mr-2">
                    <i class="fas fa-eye"></i>
                    ใส่ยอดวิว
                </span>
                <span>
                    <i class="far fa-clock"></i>
                    <%= news.date %>
                </span>
            </div>
          </div>    
        </header>    

        <!-- path ของข่าว -->
        <nav class="breadcrumb-box" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">หน้าแรก</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">ข่าวเกม</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">ข่าวเกม: [ประเภทเกม]</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page"> 
                    <a href="#">เตรียมออกเกมสำหรับ PS4/Switch/PC ที่จะมีเนื้อเรื่องแบบ if</a>
                </li>
            </ol>
        </nav>

        <!-- เนื้อข่าว -->
        <div class="content">
            <div class="content__main order-1">
                <!-- Start Text Content -->
                <div class="content__read">
                    <h3>
                        <span style="color: #212529;">
                            <strong><%= news.head %></strong>
                        </span>
                    </h2>
                    <p><%= news.content %></p>
                </div>
                <!-- End text content -->

                <!-- start relate tags -->
                <!-- <div class="content__tag">
                    <h4>แท็กที่เกี่ยวข้อง: </h4>
                    <div class="content__tag__content">
                        <a target="blank" href="#" role="button"></a>
                    </div>
                </div> -->
                <!-- end relate tags -->
            </div>

            <!-- start comment section -->
            <div class="content__comment order-2 order-lg-3">
                <section class="party-comment-box box">
                    <header class="party-comment-header box__header">
                        <h3>
                            <i class="fas fa-comments fa-sm text-muted mr-1"></i>
                            ช่องสนทนา
                        </h3>
                    </header>
    
                    <div class="container">
                      <div class="be-comment-block">
                        <h1 class="comments-title">การสนทนา (1)</h1>
                        <div class="be-comment">
                          <div class="be-img-comment">	
                            <a href="#">
                              <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="be-ava-comment">
                            </a>
                          </div>
                          <div class="be-comment-content">
                              <span class="be-comment-name">
                                <a href="#">NuityChibiko</a>
                              </span>
                              <span class="be-comment-time">
                                <i class="fa fa-clock-o"></i>
                                May 27, 2015 at 3:14am
                                <div id="member-box d-inline" class="topbar__member-comment">
                                  <div class="dropdown">
                                    <button class="btn dropdown-login" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <i class="fas fa-ellipsis-h"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <a class="dropdown-item" href="#">
                                        <i class="fas fa-edit"></i>
                                        แก้ไขข้อความ
                                      </a>
                                      <a class="dropdown-item" href="#">
                                        <i class="far fa-trash-alt"></i>
                                        ลบข้อความ
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </span>
                              <p class="be-comment-text">
                                หนุ่ยสุดหล่อ Inwza007
                              </p>
                          </div>
                        </div>
                        <form class="form-block">
                          <div class="row">
                            <div class="col-md-12">									
                              <div class="form-group">
                                <textarea class="form-input" required placeholder="เริ่มแชทกับพวกเขาเลย!"></textarea>
                              </div>
                            </div>
                          </div>
                        </form>
    
                      <div class="submit-comment">
                          <button type="button" class="submit-comment-btn">ส่ง</button>
                      </div> 
                      </div>
                    </div>
                </section>
            </div>
            <!-- End comment section -->
        </div>
  

    </main>
</body>
</html>

<%- include("patials/footer") %>