<%- include("patials/header") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>news</title>
    <link rel="stylesheet" href="/css/news.css">
</head>
<body>
    <main class="main-body" role="main">
        <!-- ปุ่มแก้ไขและลบข่าว -->
        <header class="teams__headline headline-sticky">
          <% if(currentUser && news.user_post.id.equals(currentUser._id)){ %>
            <a href="/news/<%= news._id %>/edit">
            <button class="entry__meta__posted4">
                <i class="fas fa-edit"></i>
                แก้ไขข่าว
            </button>
            </a>
            <form action="/news/<%= news._id %>?_method=DELETE" method="POST" style="display: inline;">
            <button class="entry__meta__posted3">
                <i class="far fa-trash-alt"></i>
                ลบข่าว
            </button>
          </form>
          <% } %>
        </header>

        <!-- รูปและพาดหัวข่าว -->
        <header class="featured-box">
          <figure class="featured-box__img">
              <img class="img-fluid load lazy-img" src=<%= '../uploads/news/' + news.image %> alt="Responsive image">
          </figure>
          <div class="featured-box__desc">
            <h1><%= news.head %></h1>
            <div class="featured-box__meta">
                <span class="mr-2">
                    <i class="far fa-user-circle"></i>
                    <%= news.user_post.alias %>
                </span>
                <span class="mr-2">
                    <i class="fas fa-eye"></i>
                    <%= news.viewers %>
                </span>
                <span>
                    <i class="far fa-clock"></i>
                    <%= moment(news.date).format("DD/MM/YYYY") %>
                </span>
            </div>
          </div>    
        </header>    

        <!-- path ของข่าว -->
        <nav class="breadcrumb-box" aria-label="breadcrumb">
          <ol class="breadcrumbs bg-dark">
              <li class="breadcrumb-item breadcrumb-section">
                  <a href="/"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item breadcrumb-section active">
                  <a href="#">ข่าวเกม</a>
              </li>
          </ol>
      </nav>
        </nav>

        <!-- เนื้อข่าว -->
        <div class="content">
          <div class="content__main order-1">
              <!-- Start social sharing -->
              <div class="content__social">
                <div class="content__social__share">
                  <a class="btn-share btn-fb mr-1" href="">
                    <i class="fab fa-facebook-f"></i>
                    <span class="d-sm-none d-md-inline-block">แชร์เรื่องนี้</span> 
                  </a>
                  <a class="btn-share btn-tw mr-1" href="">
                    <i class="fab fa-twitter"></i>
                    <span class="d-sm-none d-md-inline-block">ทวีตเรื่องนี้</span>
                  </a>
                  <a class="btn-share btn-ln mr-1" href="">
                    <i class="fab fa-line"></i>
                    <span class="d-sm-none d-md-inline-block">แบ่งปันเรื่องนี้</span>
                  </a>
                </div>
              </div>
                <!-- Start Text Content -->
                <div class="content__read">
                  <h3>
                      <%= news.head %>
                  </h3>
                  <p><%- news.content %></p>
              </div>
              <!-- End text content -->

              <!-- start relate tags -->
              <div class="content__tag">
                  <h4>แท็กที่เกี่ยวข้อง : </h4>
                  <div class="content__tag__content">
                    <% news.tags.forEach(function(tag){ %>
                    <a class="btn-tag mr-1" href="">
                      <span class="d-inline-block"><%= tag.name %></span> 
                    </a>
                  <% }) %>
                  </div>
              </div>
              <!-- end relate tags -->

              <!-- start relate news  -->
              <section class="box">
                <header class="box__header">
                  <h3>
                    <i class="far fa-file-alt"></i>
                    ข่าวอื่นๆ ที่คล้ายกัน                  
                  </h3>
                </header>
                <div class="row">
                  <div class="col-6">
                    <article class="entry">
                      <figure class="entry__thumb entry__thumb--zoom">
                        <a href=""></a>
                          <img src="https://www.gamemonday.com/wp-content/uploads/2020/05/KartRider-1352020-110-300x180.jpg" class="card-img-top" class="card-img-top">
                        </a>
                      </figure>
                      <div class="entry__body">
                        <h4 class="entry__title">
                          <a  href="">
                            Shadowverseฉลองครบรอบเปิดตัว Leader Skin ใหม่และโคลาโบกับ Code Geass!
                          </a>
                        </h4>
                        <div class="entry__meta">
                          <span class="entry__meta__count">
                            <i class="fas fa-eye"></i>
                            ใส่ยอดวิว
                          </span>
                          <span class="entry__meta__posted">
                            <i class="far fa-clock"></i>
                            ใส่วันที่โพสต์
                          </span>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="col-6">
                    <article class="entry">
                      <figure class="entry__thumb entry__thumb--zoom">
                        <a href=""></a>
                          <img src="https://www.gamemonday.com/wp-content/uploads/2020/05/KartRider-1352020-110-300x180.jpg" class="card-img-top" class="card-img-top">
                        </a>
                      </figure>
                      <div class="entry__body">
                        <h4 class="entry__title">
                          <a  href="">
                            Shadowverseฉลองครบรอบเปิดตัว Leader Skin ใหม่และโคลาโบกับ Code Geass!
                          </a>
                        </h4>
                        <div class="entry__meta">
                          <span class="entry__meta__count">
                            <i class="fas fa-eye"></i>
                            ใส่ยอดวิว
                          </span>
                          <span class="entry__meta__posted">
                            <i class="far fa-clock"></i>
                            ใส่วันที่โพสต์
                          </span>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="col-6">
                    <article class="entry">
                      <figure class="entry__thumb entry__thumb--zoom">
                        <a href=""></a>
                          <img src="https://www.gamemonday.com/wp-content/uploads/2020/05/KartRider-1352020-110-300x180.jpg" class="card-img-top" class="card-img-top">
                        </a>
                      </figure>
                      <div class="entry__body">
                        <h4 class="entry__title">
                          <a  href="">
                            Shadowverseฉลองครบรอบเปิดตัว Leader Skin ใหม่และโคลาโบกับ Code Geass!
                          </a>
                        </h4>
                        <div class="entry__meta">
                          <span class="entry__meta__count">
                            <i class="fas fa-eye"></i>
                            ใส่ยอดวิว
                          </span>
                          <span class="entry__meta__posted">
                            <i class="far fa-clock"></i>
                            ใส่วันที่โพสต์
                          </span>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="col-6">
                    <article class="entry">
                      <figure class="entry__thumb entry__thumb--zoom">
                        <a href=""></a>
                          <img src="https://www.gamemonday.com/wp-content/uploads/2020/05/KartRider-1352020-110-300x180.jpg" class="card-img-top" class="card-img-top">
                        </a>
                      </figure>
                      <div class="entry__body">
                        <h4 class="entry__title">
                          <a  href="">
                            Shadowverseฉลองครบรอบเปิดตัว Leader Skin ใหม่และโคลาโบกับ Code Geass!
                          </a>
                        </h4>
                        <div class="entry__meta">
                          <span class="entry__meta__count">
                            <i class="fas fa-eye"></i>
                            ใส่ยอดวิว
                          </span>
                          <span class="entry__meta__posted">
                            <i class="far fa-clock"></i>
                            ใส่วันที่โพสต์
                          </span>
                        </div>
                      </div>
                    </article>
                  </div>
                </div> 
              </section>
              <!-- end relate news  -->
              
          </div>

          <div class="content__aside order-3">
            <!-- start relate news -->
            <section class="box ">
              <header class="box__header">
                <h3>
                  <i class="fas fa-star"></i>
                  รีวิวอื่นๆ ที่เกี่ยวข้อง  
                </h3>
              </header>
              <div class="row">
                <div class="col-6">
                  <article class="entry">
                    <figure class="entry__thumb entry__thumb--zoom">
                      <a href=""></a>
                        <img src="https://www.gamemonday.com/wp-content/uploads/2020/05/KartRider-1352020-110-300x180.jpg" class="card-img-top" class="card-img-top">
                      </a>
                    </figure>
                    <div class="entry__body">
                      <h4 class="entry__title">
                        <a  href="">
                          Shadowverseฉลองครบรอบเปิดตัว Leader Skin ใหม่และโคลาโบกับ Code Geass!
                        </a>
                      </h4>
                      <div class="entry__meta">
                        <span class="entry__meta__count">
                          <i class="fas fa-eye"></i>
                          ใส่ยอดวิว
                        </span>
                        <span class="entry__meta__posted">
                          <i class="far fa-clock"></i>
                          ใส่วันที่โพสต์
                        </span>
                      </div>
                    </div>
                  </article>
                </div>
            </section>
            <!-- end relate news  -->                

            <!-- start relate commu -->
            <section class="box">
              <header class="box__header">
                <h3>
                  <i class="fas fa-comments"></i>
                  กระทู้อื่นๆ ที่เกี่ยวข้อง 
                </h3>
              </header>
              <div class="row">
                <div class="col-6">
                  <article class="entry">
                    <figure class="entry__thumb entry__thumb--zoom">
                      <a href=""></a>
                        <img src="https://www.gamemonday.com/wp-content/uploads/2020/05/KartRider-1352020-110-300x180.jpg" class="card-img-top" class="card-img-top">
                      </a>
                    </figure>
                    <div class="entry__body">
                      <h4 class="entry__title">
                        <a  href="">
                          Shadowverseฉลองครบรอบเปิดตัว Leader Skin ใหม่และโคลาโบกับ Code Geass!
                        </a>
                      </h4>
                      <div class="entry__meta">
                        <span class="entry__meta__count">
                          <i class="fas fa-eye"></i>
                          ใส่ยอดวิว
                        </span>
                        <span class="entry__meta__posted">
                          <i class="far fa-clock"></i>
                          ใส่วันที่โพสต์
                        </span>
                      </div>
                    </div>
                  </article>
                </div>
              </div> 
            </section>
            <!-- end relate commu  -->
            
            <!-- start hot game -->
            <section class="box mb-3 hot-game p-3">
              <header class="box__header mb-4">
                <h3 class="text-white">
                  <i class="fas fa-fire"></i>
                  เกมมาแรง
                </h3>
              </header>
              <div class="row">
                <div class="col-12">
                  <article class="entry">
                    <a href="">
                      <figure class="entry__thumb entry__thumb--zoom">
                        <img src="https://www.gamemonday.com/wp-content/uploads/2020/05/KartRider-1352020-110-300x180.jpg" class="card-img-top" class="card-img-top">
                    </figure>
                    <div class="entry__body">
                      <h4 class="entry__title text-white">
                          ชื่อเกม
                      </h4>
                    </div>
                    </a>
                  </article>
                </div>
                <div class="col-6">
                  <article class="entry">
                    <a href="">
                      <figure class="entry__thumb entry__thumb--zoom">
                        <img src="https://www.gamemonday.com/wp-content/uploads/2020/05/KartRider-1352020-110-300x180.jpg" class="card-img-top" class="card-img-top">
                    </figure>
                    <div class="entry__body">
                      <h4 class="entry__title text-white">
                          ชื่อเกม
                      </h4>
                    </div>
                    </a>
                  </article>
                </div>
                <div class="col-6">
                  <article class="entry">
                    <a href="">
                      <figure class="entry__thumb entry__thumb--zoom">
                        <img src="https://www.gamemonday.com/wp-content/uploads/2020/05/KartRider-1352020-110-300x180.jpg" class="card-img-top" class="card-img-top">
                    </figure>
                    <div class="entry__body">
                      <h4 class="entry__title text-white">
                          ชื่อเกม
                      </h4>
                    </div>
                    </a>
                  </article>
                </div>
              </div>
               <header class="add-view">
                  <button href="#" class="scrollto-add">
                    โหลดเพิ่ม
                    <i class="fas fa-plus"></i>
                  </button>
              </header>
            </section>
            <!-- end hot game -->
          </div>

               
                <!-- start hot tag -->
                <!-- <section class="box line-tag-box">
                  <header class="box__header">
                    <h3>
                      <i class="fas fa-tags"></i>
                      คำยอดฮิต
                    </h3>
                  </header>
                  <div class="content__tag__content">
                    <a class="btn-tag" href="">
                      <span class="d-inline-block">แชร์เรื่องนี้</span> 
                    </a>
                    <a class="btn-tag" href="">
                      <span class="d-inline-block">แชร์เรื่องนี้</span> 
                    </a>
                    <a class="btn-tag" href="">
                      <span class="d-inline-block">แชร์เรื่องนี้</span> 
                    </a>
                    <a class="btn-tag" href="">
                      <span class="d-inline-block">แชร์เรื่องนี้</span> 
                    </a>
                    <a class="btn-tag" href="">
                      <span class="d-inline-block">แชร์เรื่องนี้</span> 
                    </a>
                  </div>
                </section> -->
                <!-- end hot tag  -->                 


            <!-- start comment section -->
            <div class="content__comment order-2 order-lg-3">
              <section class="party-comment-box box">
                  <header class="party-comment-header box__header">
                        <h3 class="d-inline-block">
                          <i class="fas fa-comments fa-sm text-muted mr-1"></i>
                          แสดงความคิดเห็น
                        </h3>
                        <div class="sort-comment d-inline-block">
                          <select class="custom-select d-inline-block" id="inputGroupSelect03" aria-label="Example select with button addon">
                            <option selected>เรียงตาม</option>
                            <option value="1">ยอดนิยม</option>
                            <option value="2">ล่าสุด</option>
                            <option value="3">เก่าสุด</option>
                          </select>
                        </div>
                  </header>

                   <div class="container">
                    <div class="be-comment-block">
                      <% news.comments.forEach(function(comment){ %>
                      <div class="be-comment">
                        <div class="be-img-comment">	
                          <a href="#">
                            <img src=<%= '../uploads/user/' + comment.user_post.image %> class="be-ava-comment">
                          </a>
                        </div>
                        <div class="be-comment-content">
                            <span class="be-comment-name">
                              <a href="#"><%= comment.user_post.alias %></a>
                            </span>
                            <span class="be-comment-time">
                              <i class="fa fa-clock-o"></i>
                              <%= comment.date %>
                              <% if(currentUser && currentUser._id.equals(comment.user_post.id)){ %>
                              <div id="member-box d-inline" class="topbar__member-comment">
                                <div class="dropdown">
                                  <button class="btn dropdown-login" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-h"></i>
                                  </button>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <button class="dropdown-item" href="#">
                                      <i class="fas fa-edit"></i>
                                      แก้ไขข้อความ
                                    </button>
                                    <form action="/news/<%= news._id %>/comment/<%= comment._id %>?_method=DELETE" method="POST" style="display: inline;">
                                    <button class="dropdown-item">
                                      <i class="far fa-trash-alt"></i>
                                      ลบข้อความ
                                    </button>
                                    </form>
                                  </div>
                                </div>
                              </div>
                              <% } %>
                            </span>
                            <p class="be-comment-text">
                              <%= comment.content %>
                            </p>
                        </div>
                      </div>
                      <% }) %>
                      <% if(currentUser){ %>
                      <form class="form-block" action="/news/<%= news._id %>/comment/create" method="POST">
                        <div class="row">
                          <div class="col-md-12">									
                            <div class="form-group">
                              <textarea class="form-input" required placeholder="เพิ่มความคิดเห็นของคุณ..." name="comment[content]"></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="submit-comment">
                          <button type="submit" class="submit-comment-btn">ส่ง</button>
                      </div> 
                      </div>
                      </form>
                    </div>
                  <% } %>
              </section>
          </div>
          <!-- End comment section -->

    </main>
</body>
</html>

<%- include("patials/footer") %>