<%- include("patials/header") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>news-view</title>
    <link rel="stylesheet" href="/css/news.css">
</head>
<body>
    <% if (currentUser && news.user_post.id.equals(currentUser._id)) { %>
    <form action="/news/<%= news._id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger">remove news</button>
    </form>
    <% } %>
    <div class="contents">
        <div class="contents_main">
            <div class="contents_read" >
                <h2>
                    <strong><%= news.head %></strong>
                </h2>
                <p><%= news.content %></p>
            </div>
        </div>
    </div>
    <p>Create by <%= news.user_post.alias %></p>
</body>
</html>

<%- include("patials/footer") %>