<%- include("patials/header") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="/css/Edit_profile.css">
    <link rel="stylesheet" href="/css/.css">

    <style>

        body {
          background-image: url('/image/far_cry_4_weapons.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed; 
          background-size: 100% 100%;
      }
    </style>
</head>

<body>

    <main class="profile-content">
        <div class="profile-content-container">
            <h1>
                <i class="fas fa-address-card"></i>
                แก้ไขข้อมูลส่วนตัว
            </h1>
            <form class="profile-form" action="/editprofile/<%= user._id %>?_method=PUT" method="POST" enctype="multipart/form-data">

                <div class="profile-form-group">
                    <div class="profile-form-inside">
                        <img src=<%= '../uploads/user/' + currentUser.image %>
                    </div>
                </div>

                <div class="profile-form-group">
                    <label for="upload" class="profile-label-item profile-form-title">
                        รูปประจำตัว
                        <font color="#FF0000">*</font>
                    </label>
                    <div class="profile-form-inside">
                        <div>
                            <label for="ImageUpload" class="label-form-title">แนบรูปภาพ</label>
                            <div class="form-inside">
                                <input type="file" class="form-item" id="picture" name="image" accept="image/*">
                            </div>
                        </div>
                        <span class="profile-remark">รูปประจำตัวต้องมีขนาด 60x70 px. และขนาดไฟล์ต้องไม่เกิน 2 MB.</span>  
                    </div>
                </div>

                <div class="profile-form-group">
                    <label for="name" class="profile-label-item profile-form-title">
                        ชื่อ
                        <font color="#FF0000">*</font>
                    </label>
                    <div class="profile-form-inside">
                        <input type="text" class="profile-form-item" id="name" name="firstname" placeholder="กรอกชื่อ" value="<%= user.firstname %>">
                    </div>
                </div>

                <div class="profile-form-group">
                    <label for="lastname" class="profile-label-item profile-form-title">
                        นามสกุล
                        <font color="#FF0000">*</font>
                    </label>
                    <div class="profile-form-inside">
                        <input type="text" class="profile-form-item" id="lastname" name="surname" placeholder="กรอกนามสกุล" value="<%= user.lastname %>">
                    </div>
                </div>

                <div class="profile-form-group">
                    <label for="alias" class="profile-label-item profile-form-title">
                        ชื่อนามแฝง
                        <font color="#FF0000">*</font>
                    </label>
                    <div class="profile-form-inside">
                        <input type="text" class="profile-form-item" id="alias" name="alias" placeholder="กรอกชื่อนามแฝง" value="<%= user.alias %>">
                    </div>
                </div>

                <div class="profile-form-group">
                    <label for="email" class="profile-label-item profile-form-title">
                        อีเมลล์
                        <font color="#FF0000">*</font>
                    </label>
                    <div class="profile-form-inside">
                        <input type="email" class="profile-form-item" id="email" name="email" placeholder="กรอกอีเมลล์" value="<%= user.email %>">
                    </div>
                </div>
                <div class="profile-form-group">
                    <label for="telephone" class="profile-label-item profile-form-title">
                        เบอร์โทรศัพท์
                        <font color="#FF0000">*</font>
                    </label>
                    <div class="profile-form-inside">
                        <input type="text" class="profile-form-item" id="tel" name="tel" placeholder="กรอกเบอร์โทรศัพท์" maxlength="10" value="<%= user.number %>">
                    </div>
                </div>

                <div class="profile-form-act">
                    <input type="submit" id="editprofile" class="profile-btn profile-btn-primary" value="บันทึกข้อมูล">
                </div>
            </form>
        </div>

    </main>

</body>
</html>

<%- include("patials/footer") %>