<%- include("patials/header") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="/css/Edit_profile.css">
</head>

<body>

    <main class="profile-content">
        <div class="profile-content-container">
            <h1>แก้ไขข้อมูลส่วนตัว</h1>
            <form class="profile-form">
                <!-- <div class="profile-form-group">
                    <label for="usrname" class="profile-label-item profile-form-title">
                        อีเมลล์
                    </label>
                    <div class="profile-form-inside">
                        <p>nuiwitclup@gmail.com</p>
                    </div>
                </div>
                <div class="profile-form-group">
                    <label for="usrname" class="profile-label-item profile-form-title">
                        ชื่อนามแฝง
                    </label>
                    <div class="profile-form-inside">
                        <p>Bawornsak L Nui</p>
                    </div>
                </div> -->

                <figure class="profile-avatar-review">
                    <!-- <img src="/image/IMGBIN_disease-png_JPsi2TtT.png" alt="บวรศักดิ์ เหลือจันทร์"> -->
                </figure>

                <div class="profile-form-group">
                    <label for="upload" class="profile-label-item profile-form-title">
                        รูปประจำตัว
                    </label>
                    <div class="profile-form-inside">
                        <div class="profile-file">
                            <div class="profile-file-name">
                                <input class="profile-form-item" disabled="disabled" placeholder="เลือกไฟล์" id="file-name">
                            </div>
                            <div class="profile-file-upload">
                                <input id="avatar" name="avatar" type="file" class="upload-btn valid" aria-invalid="false">
                            </div>
                        </div>
                        <span class="profile-remark">รูปประจำตัวต้องมีขนาด 60x70 px. และขนาดไฟล์ต้องไม่เกิน 2 MB.</span>  
                    </div>
                </div>

                <div class="profile-form-group">
                    <label for="name" class="profile-label-item profile-form-title">
                        ชื่อ
                        <font color="#FF0000">*</font>
                    </label>
                    <div class="profile-form-inside">
                        <input type="text" class="profile-form-item" id="name" name="firstname" placeholder="กรอกชื่อ" value="<%= user.firstname %>">
                    </div>
                </div>

                <div class="profile-form-group">
                    <label for="lastname" class="profile-label-item profile-form-title">
                        นามสกุล
                        <font color="#FF0000">*</font>
                    </label>
                    <div class="profile-form-inside">
                        <input type="text" class="profile-form-item" id="lastname" name="surname" placeholder="กรอกนามสกุล" value="<%= user.lastname %>">
                    </div>
                </div>

                <div class="profile-form-group">
                    <label for="alias" class="profile-label-item profile-form-title">
                        ชื่อนามแฝง
                        <font color="#FF0000">*</font>
                    </label>
                    <div class="profile-form-inside">
                        <input type="text" class="profile-form-item" id="alias" name="alias" placeholder="กรอกชื่อนามแฝง" value="<%= user.alias %>">
                    </div>
                </div>

                <div class="profile-form-group">
                    <label for="email" class="profile-label-item profile-form-title">
                        อีเมลล์
                        <font color="#FF0000">*</font>
                    </label>
                    <div class="profile-form-inside">
                        <input type="email" class="profile-form-item" id="email" name="email" placeholder="กรอกอีเมลล์" value="<%= user.email %>">
                    </div>
                </div>

                <div class="profile-form-group">
                    <label for="gender" class="profile-label-item profile-form-title">
                        เพศ
                        <font color="#FF0000">*</font>
                    </label>
                    <div class="profile-form-inside">
                        <div class="profile-radio">
                            <input name="gender" type="radio" id="male" value="male" checked="">
                            <label for="male">
                                ชาย
                            </label>
                        </div>
                        <div class="profile-radio">
                            <input name="gender" type="radio" id="female" value="female" checked="">
                            <label for="male">
                                หญิง
                            </label>
                        </div>
                    </div>
                </div>
                
                <div class="profile-form-group">
                    <label for="gender" class="profile-label-item profile-form-title">
                        วันเกิด
                        <font color="#FF0000">*</font>
                    </label>
                    <div class="profile-form-inside">
                        <div class="profile-selectbox">
                            <label>
                                <input type="time" id="party-time" name="appointment_time" value="<%= user.birth_day %>">                  
                            </label>  
                        </div>
                    </div>
                </div>

                <div class="profile-form-group">
                    <label for="telephone" class="profile-label-item profile-form-title">
                        เบอร์โทรศัพท์
                    </label>
                    <div class="profile-form-inside">
                        <input type="text" class="profile-form-item" id="tel" name="tel" placeholder="กรอกเบอร์โทรศัพท์" maxlength="10" value="<%= user.number %>">
                    </div>
                </div>

                <div class="profile-form-act">
                    <input type="button" id="editprofile" class="profile-btn profile-btn-primary" value="บันทึกข้อมูล">
                </div>
            </form>
        </div>
    </main>

</body>
</html>

<%- include("patials/footer") %>