<%- include("patials/header") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="/css/Edit_profile.css">
    <link rel="stylesheet" href="/css/result.css">
</head>

<body>

    <main class="profile-content">
        <div class="profile-content-container">
            <h1>ข้อมูลส่วนตัว</h1>
            <div class="profile-form">
                <div class="profile-form-group">
                    <div class="profile-form-inside">
                        <img src=<%= "../uploads/user/"+user.image %>>
                    </div>
                </div>

                <div class="profile-form-group">
                    <label for="upload" class="profile-label-item profile-form-title">
                        รูปประจำตัว
                    </label>
                    <div class="profile-form-inside">
                        <div class="profile-file">
                            <div class="profile-file-name">
                            </div>
                            <div class="profile-file-upload">
                            </div>
                        </div>  
                    </div>
                </div>

                <div class="profile-form-group">
                    <label for="name" class="profile-label-item profile-form-title">
                        ชื่อ
                        <font color="#FF0000">*</font>
                    </label>
                    <div class="profile-form-inside">
                        <p><%= user.firstname %></p>
                    </div>
                </div>

                <div class="profile-form-group">
                    <label for="lastname" class="profile-label-item profile-form-title">
                        นามสกุล
                        <font color="#FF0000">*</font>
                    </label>
                    <div class="profile-form-inside">
                        <p><%= user.lastname %></p>
                    </div>
                </div>

                <div class="profile-form-group">
                    <label for="alias" class="profile-label-item profile-form-title">
                        ชื่อนามแฝง
                        <font color="#FF0000">*</font>
                    </label>
                    <div class="profile-form-inside">
                        <p><%= user.alias %></p>
                    </div>
                </div>

                <div class="profile-form-group">
                    <label for="email" class="profile-label-item profile-form-title">
                        อีเมลล์
                        <font color="#FF0000">*</font>
                    </label>
                    <div class="profile-form-inside">
                        <p><%= user.email %></p>
                    </div>
                </div>
                <div class="profile-form-group">
                    <label for="telephone" class="profile-label-item profile-form-title">
                        เบอร์โทรศัพท์
                        <font color="#FF0000">*</font>
                    </label>
                    <div class="profile-form-inside">
                        <p><%= user.number %></p>
                    </div>
                </div>
                <div class="profile-form-act">
                    <button  id="editprofile" class="profile-btn profile-btn-primary2" onclick="window.location.href='/editProfile/<%= user._id %>'">แก้ไขข้อมูล</button>
                </div>
        </div>
    </div>

    
</main>

</body>
</html>

<%- include("patials/footer") %>